*{
    padding: 0;
    margin: 0;
    font-family: tahoma;
}
.NavBar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .NavBar .Container{
    width: 94%;
    margin: auto;
  }
  
  .NavBar .Container .Left{
   float: left;
  }
  
  .NavBar .Container .Left h2 {
    font-weight: 150;
    color: #009900;
    font-size: 30px;
    margin: 9px;
    font-family: 'Lobster', cursive;
  
   }
  
  .NavBar .Container .Right{
  float: right;
  padding: 19px;
  font-size: 15px;
  }
  
  .NavBar .Container .Right a {
    text-decoration: none;
    margin:  5px;
    padding:3px;
    color: #009900;
    font-size: 19px;
    font-family: 'Barlow Semi Condensed', sans-serif;
   }
  
   .NavBar .Container .Right a:hover{
    border-bottom: 2px solid   #009900; 
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 17px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
   }
.login{
    background-image: url(../Images/banner-bg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.SEC{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.form-login{
    width: 300px;
    margin: auto;
    text-align:center;
    position: relative;
    top: 20%;
    padding: 35px 20px;
    box-shadow: 0 0 8px #aaa;
}
.form-login input{
    display: block;
    padding: 10px 25px;
    border: none;
    margin-top: 11px;
    width: 100%;
    border-radius: 5px;
   
}
.form-login .button{
    padding: 8px 20px;
    margin-top: 15px;
    background: #009900;
    border: none;
    color:#fff;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
  
}

.lin{
    color: #fff;
    text-align:center;
    font-size: 16px;
    padding: 15px 5px;
    text-decoration: none;
}
.form-login .Bt{
    color: #009900;
    text-align:center;
    font-size: 14px;
    padding: 15px 5px;
    text-decoration: none;
}
.form-login p{
    color: #fff;
    padding-top: 10px;
}

.form-login img{
    border-radius: 100%;
    position: absolute;
    top:-45;
    left: 50%;
    transform: translateX(-50%);
}