/* Start NavBar */

*{
  padding: 0;
  margin: 0;
}

.NavBar {
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
  }

.NavBar .Container{
    width: 94%;
    margin: auto;
}

  .NavBar .Container .Left{
   float: left;
  }

  .NavBar .Container .Left h3 {
    font-weight: 150;
    color: #009900;
    font-size: 30px;
    margin: 9px;
    font-family: 'Lobster', cursive;

   }

  .NavBar .Container .Right{
  float: right;
  padding: 19px;
  font-size: 15px;
  }

  .NavBar .Container .Right a {
    text-decoration: none;
    margin:  5px;
    padding:3px;
    color: #009900;
    font-size: 19px;
    font-family: 'Barlow Semi Condensed', sans-serif;
   }

   .NavBar .Container .Right a:hover{
    border-bottom: 2px solid   #009900; 
    color: #000000;
    font-size: 20px;
    padding-bottom: 17px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
   }
  /* End NavBar */

  .body
  {
    height: 810px;
    padding: 0;
    background-image: url(../Images/03cea7ca-5fec-4394-bb74-5aa746991527.jpg); 
  }

  h1
  {
    padding: 10px;
    margin: 10px;
    color: #009900;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#000 ;
    border-style: outset;
    width:fit-content;
    position: absolute;
    left: 38%;
  }

.comment
{
    
    font-weight: 150;
    color: #009900;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    border: 3px solid none;
    border-style: outset;


}

textarea
{   
    width: 540px;
    height: 250px;
    color: #009900;
    margin: 20px;
    padding: 10px;
    border: 2px solid #009900;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;

}

.legen
{
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #009900;
  background-color: black;
  border: outset;
}

.rate
{
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  color:#009900;
  width:540px;
  height: 150px;
  border: 5px solid black;
  background-color: white;
}

#send
{
  width: 130px;
  height: 30px;
  color: #009900;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  border-style: outset;
  text-align: center;
  display: block;
  position: relative;
  left: 580px;

  
}


/* Start footer */
footer{
  margin-top: 10px;
  padding-bottom: 44px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
footer .containar{
  margin: auto;
width: 94%;
}
footer .containar .Abt,
footer .containar .contact,
footer .containar .open,
footer .containar .offer
{
float: left;
width: 23%;
margin-right: 22px;
padding-top:50px;
}

footer .containar .Abt h5,
footer .containar .contact h5,
footer .containar .open h5,
footer .containar .offer h5
{
font-size: 1.4em;
font-weight: 300;
margin-bottom: 15px;
color: #009900;
font-family: 'Lobster', cursive;
}
footer .containar .Abt p,
footer .containar .contact p,
footer .containar .open p,
footer .containar .offer p{
font-size: 16px;
color: #a7a7a7;
margin-bottom: 2px;
font-family: 'Barlow Semi Condensed', sans-serif;
}
footer .containar span{
padding-left:30px;
}
footer .containar span .s1{
padding-left:35px;
}

footer .offer .sp {
border-bottom: 1px solid #a7a7a7;
padding-bottom: 8px;
display: block;
opacity: 0.8;
margin-bottom: 8px;
font-size: 14px;
padding-left:0;
font-size: 16px;
color: #eeeeee;
font-family: 'Barlow Semi Condensed', sans-serif;
}